/*adding css to container one*/
#con1 {
  background-image: url("../pong.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  text-align: center;

}
/*modifying paragraph 1*/
#p1 {
  font-size: 60px;
  text-align: center;
  padding-top: 5%;
  color: green;
}
#p2{
  font-size: 30px;
}
#p3{
  color: #FFE4C4;
  font-size: 20px;
}
#p4{
  color: white;
}
#p5{
  color: #FFE4C4;
  font-size: 20px;
}
#p6{
  color: blue;
}
#p7{
color: #FFE4C4;
font-size: 20px;
}
#p8{
  color: white;
}
#con2{
  background-color: green;
  height: 500px;
}
#whole{
  background-image: url("../pingpong.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bac
  height: 500px;
}
#text-Input{
  width: 20%;
}
body {
  font-family: 'Acme', sans-serif;
}
